body {

    overflow-wrap: break-word;
    overflow-x: 0;
    height: 100%;
    background: rgb(61, 132, 177);

}

h1 {

    text-align: center;
    padding: 10px;
    border-bottom: 1px solid black;
    font-size: 4em;

}

section {

    margin-top: 1em;

}

.links, .projecten {

    border-bottom: 5px solid rgb(30, 29, 29);

}


article {

    text-align: center;
    justify-content: center;
    margin: 0;

}

article a {

    font-size: 3em;
    font-weight: bold;
    margin: 1em;
    color: black;
    text-decoration: none;

}

.dagen {

    padding: 15px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(239, 238, 238);
    background-color: rgba(255, 255, 255, 0.2);
}

p {

    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-family: sans-serif;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
}

